html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.main_title {
    color: aqua;
    text-align: center;
}

/*стили для панели логина*/
.login-panel {
    width: 160px; background: #ECF5E4; border-right: 1px solid #231F20;
    top: 82px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
    height: 100px;
}

.login-panel-signIn-button {
    top: 82px; /* Расстояние от верхнего края */
    left: 170px; /* Расстояние от левого края */
    bottom: 0; right: 0;
    height: 30px;
}

.login-panel-input {
    width: 80px;
    height: 30px;
}