html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(157, 159, 135, 0.58);
}

.main_title {
    color: aqua;
    text-align: center;
}

/*стили для панели логина*/
.login-panel {
    width: 260px;
    height: 100px;
    background: #042a42;
    border-right: 1px solid #231F20;
    top: 82px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
}

.title-login-panel {
    text-align: center;
    font-size: 20px;
    color: #0c1457;
}

.login-panel-signIn-button {
    top: 82px; /* Расстояние от верхнего края */
    left: 170px; /* Расстояние от левого края */
    bottom: 0; right: 0;
    height: 30px;
}

.login-panel-input {
    width: 80px;
    height: 30px;
}

.password-panel-input {
    width: 80px;
    height: 30px;
}

#error-message-registration {
    color: #cd0808;
}

#gameCanvas {
    width: 1500px;
    height: 500px;
    border: 3px solid black;
    margin: 3px;
}